.cell {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #777777;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 60px -10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
    font-size: 10px;
    line-height: 10px;
    border-radius: 20px;
  }
  
  .default {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .cell:hover {
    box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.3);
  }
  
  .shuffle {
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 0px 20px 0px 20px;
    width: auto;
    height: auto;
    background: white;
    border: solid 2px #ffaad4;
    border-radius: 7px;
    color: #ffaad4;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    line-height: 45px;
  }
  
  .shuffle:hover {
    background: #f9f9f9;
  }
  
  .details {
    position: relative;
    bottom: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #ffffffa0;
    color: white;
    padding: 20px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    flex-wrap: wrap;
  }
  
  .details h1 {
    color: #ca6a9a;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    position: relative;
    width: 20%;
    height: 50px;
    text-align: center;
    /* flex: 1; */
  }
  
  .details h2 {
    color: #777777;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
    /* flex: 2; */
  }

  .sub-details {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      position: relative;
      height: 600px;
      width: 100%;
      flex: 5;
  }


  .circle {
    position: absolute;
    top: calc(25% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.2);
  }
  
  .close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    color: #777777;
  }
  
  .main {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
      helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    padding: 30px 70px 30px 70px;
    height: auto;
    display: flex;
  }
  
  .grid {
    flex: 1;
  }
  
  .ant-btn-primary {
    background-color: #ca6a9a !important;
    border-color: #ca6a9a !important;
  }
  