.cell {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #777777;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0px 10px 60px -10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
    font-size: 1rem;
    border-radius: 20px;
  }
  
  .default {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .cell:hover {
    box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.3);
  }
  
 
  .details {
    position: relative;
    bottom: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    /* height: 100%; */
    background: #ffffffa0;
    color: white;
    padding: 20px;
    font-weight: 600;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
  }
  
  .details h1 {
    color: #ca6a9a;
    font-size: 2rem;
    line-height: 1rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: relative;
    width: 20%;
    height: 50px;
    text-align: center;
    /* flex: 1; */
  }
  
  .details h2 {
    color: #777777;
    font-size: 2rem;
    line-height: 1rem;
    margin: 30px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    /* flex: 2; */
  }

  .grid {
    flex: 1;
  }
