.default-content {
    font-size: 1rem;
    color:#454545;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    width: 80%;
}

.default-time
.default-vaue {
    width: 50%;
    text-align: center;
}


.default-first-value {
    width: 100%;
    text-align: center;
    background-color: gray;
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}
