.precautions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.precautions p {
    color: #454545;
    font-size: 1rem;
    text-align: center;
}

.precautions-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 20px;
    /* height: 100%; */
    margin: 20px;
    padding: 40px;
}

.precautions-label {
    border-radius: 20px;
    width: 40%;
    height: 100%;
}
