.logo {
    width: 50%;
    height: 50%;
    }
#logo path {
     stroke-dasharray: 6157px;
     stroke-dashoffset: 6157px;
     animation: line-anim 20s ease forwards;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}