.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid #979797;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #D8D8D8;

}

.card-container div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    text-align: center;
}

p {
    width: 100%;
    color: #454545;
}

.card-main-text {
    font-size: 5rem;
}

.card-main-text-mod {
    font-size: 3rem;
}

.card-description {
    font-size: 1rem;
}

