.form {
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 20px;
    border: none;
    font-size: 1em;
    outline: none;
    background-color: black;

}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #595f6e60;
    color: #595f6e;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-110%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name {
    transform: translateY(-175%);
    font-size: 0.5em;
    color: #5fa8d3;
}

.form input:focus + .label-name::after, .form input:valid .label-name::after {
    transform: translateX(0%);
}
