.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: auto;
}
