.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.header-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  /* border: 1px solid black; */
  font-size: 2em;
  text-align: center;
  color: #595f6e;
  margin: 50px;
}

.graph-group {
  width: 80%;
  /* height: 100%; */
}
