.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.header-group {
  width: 50%;
  height: 100%;
  /* border: 1px solid black; */
  font-size: 2em;
}

.graph-group {
  width: 80%;
  /* height: 100%; */
}
